〈?xml version="1.0" encoding="utf-8"?〉
〈manifest xmlns:android="http://schemas.android.com/apk/res/android"〉

〈uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /〉
〈uses-permission android:name="android.permission.RECORD_AUDIO" /〉
〈uses-permission android:name="android.permission.INTERNET" /〉
〈uses-permission android:name="android.permission.FOREGROUND_SERVICE" /〉
〈uses-permission android:name="android.permission.FOREGROUND_SERVICE_MICROPHONE" /〉

〈application
    android:allowBackup="true"
    android:label="장기요양 일지 도우미"
    android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar"〉

    〈activity
        android:name=".MainActivity"
        android:exported="true"〉
        〈intent-filter〉
            〈action android:name="android.intent.action.MAIN" /〉
            ` 로 변경
